body {
    font-family: 'Segoe UI';
}

@media (min-width: 375px) {
    body {
        padding: 0;
        margin: 10px 0;
    }
}

@media (min-width: 576px) {
    body {
        padding: 2em 0;
    }
}

@media (min-width: 768px) {
    body {
        padding: 3em 5em;
    }
}

@media (min-width: 992px) {
    body {
        padding: 3em 10em;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 3em 20em;
    }
}

.block {
    margin: 110px 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 1em;
}

.line {
    width: 100%;
    height: 5px;
    border: 0 none;
    border-radius: 5px;
    background-color: #6c31ff;
    opacity: .5;
}


#a-city a {
    text-decoration: none;
    color: #6c31ff;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

a:before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6c31ff;
    transition: 0.2s;
    transform: scaleX(0);
    opacity: 0.5;
}

a:hover:before {
    transform: scaleX(1);
}

.enter-city {
    position: relative;
}

.icon {
    position: absolute;
    top: calc(50%);
    left: 1rem;
}

.enter-city label,
.enter-city .form-control {
    left: .5rem;
    padding-left: 3rem;

}

button {
    float: left;
}


h1#city {
    color: #6c31ff;
    font-size: 60px;
    font-weight: 600;
}

#current-degree {
    font-size: 60px;
}

.temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.big-emoji-weather {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.units {
    position: relative;
    top: -34px;

}

#celsius {
    font-size: 15px;
    text-decoration: none;
    color: #6c31ff;
    transform: none;
}

#fahrenheit {
    font-size: 15px;
    text-decoration: none;
    color: #6c31ff;
    transform: none;
}

span {
    font-size: 15px;
    float: top;
}

button.btn {
    display: block;
    border: 2px solid #6c31ff;
    background: #6c31ff;
    color: #fff;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    cursor: pointer;
}

button.btn:hover {
    background: #6c31ff;
    color: #fff;
    border: 2px solid #6c31ff;
    opacity: .6;
}

#day-time {
    opacity: .7;
}

#type-weather {
    opacity: .7;
}

.precipitation {
    opacity: .7;
}

.humidity {
    opacity: .7;
}

.wind {
    opacity: .7;
}

/* #humidity{

} */

.border-success {
    --bs-border-opacity: 1;
    border-color: #6c31ff !important
}

#day-of-week {
    font-size: 20px;
    opacity: .7;
}

#emoji {
    font-size: 35px;
}

#degree {
    font-size: 16px;
}

.box-day {
    border: 1.3px solid rgb(108, 49, 255, .3);
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
}