body {
    font-family: 'Segoe UI';
    background: linear-gradient(120deg, #fff5eb, #ffdec9);

    color: #fff;
    /* width: 100%; */
    min-height: 100vh;
}

@media (min-width: 375px) {
    body {
        padding: 0;
        margin: 10px 0;
    }

    content {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px) {
    body {
        padding: 2em 0;
    }

    content {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    body {
        padding: 3em 5em;
    }

    content {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    body {
        padding: 3em 10em;
    }

    content {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 3em 20em;
    }
}

.block {
    /* margin: 110px 0; */
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid #9dbeff; */
    padding: 1em;
    background: #fff;
}

.line {
    width: 100%;
    height: 5px;
    border: 0 none;
    border-radius: 5px;
    background-color: #6c31ff;
    /* opacity: .5; */
}


.city .style-a {
    text-decoration: none;
    color: #6c31ff;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.city .style-a:before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6c31ff;
    transition: 0.2s;
    transform: scaleX(0);
    opacity: 0.5;
}

.city .style-a:hover:before {
    transform: scaleX(1);
}

.enter-city {
    position: relative;
}

.weather-temperature {
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    top: calc(50%);
    left: 1rem;
}

.enter-city label,
.enter-city .form-control {
    left: .5rem;
    padding-left: 3rem;

}

button {
    float: left;
}


h1#city {
    color: #6c31ff;
    font-size: 60px;
    font-weight: 600;
}

#current-degree {
    font-size: 60px;
}

.temperature {
    color: rgb(33, 33, 33);
    font-size: 58px;
    font-weight: 400;
    line-height: 1;
}

.big-emoji-weather {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}


.weather-temperature img {
    margin-top: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature .units {
    font-size: 15px;
    position: relative;
    /* text-decoration: none; */
    top: -34px;
    color: #000;
    /* transform: none; */
}

.weather-temperature .active {
    /* color: #000; */
    color: #6c31ff;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

span {
    font-size: 15px;
    float: top;
}

button.btn {
    display: block;
    border: 2px solid #6c31ff;
    background: #6c31ff;
    color: #fff;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    cursor: pointer;
}

button.btn:hover {
    background: #6c31ff;
    color: #fff;
    border: 2px solid #6c31ff;
    opacity: .6;
}

#day-time {
    opacity: .7;
}

#description {
    opacity: .7;
}

.precipitation {
    opacity: .7;
}

.humidity {
    opacity: .7;
}

.wind {
    opacity: .7;
}


.border-success {
    --bs-border-opacity: 1;
    border-color: #6c31ff !important
}

.weather-forecast {
    display: inline-flex;
    flex-wrap: nowrap;
}

.box-day {
    text-align: center;
    color: #000;
    border: 1.3px solid rgb(108, 49, 255, .3);
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

.day-of-week {
    /* color: #6c31ff; */
    font-size: 16px;
    opacity: .7;
}

.day-of-week img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

/* .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
} */

.weather-forecast-temp-min {
    opacity: 0.5;
}

.weather-forecast-temp {
    font-size: 16px;
}